<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="../public/js/index.js"></script>
</head>
<body>
  <h1>Chat</h1>
  <div id="chatContainer"></div>
  <input type="text" id="user" placeholder="Username">
  <input type="text" id="message" placeholder="Message">
  <button id="sendBtn">Send</button>
  <script src="../public/js/chat.js"></script>
</body>
</html>
